@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>注意：此项目是 SCF 基础包的集成测试项目，仅验证编译是否能通过，无参考意义，并非 SCF 模板项目！ <a href="https://github.com/SenparcCoreFramework/SCF/">点击这里</a> 查看可直接安装使用的 SCF 模板项目！</p>
</div>
